	{% extends "base.html" %}
<!-- Post -->
{% load static %}
{% load img_src %}
{% block content_post %}
  <article class="box post post-excerpt">
    <header>
      <h2><a href="{% url "article" id=post.id %}">{{ post.title }}</a></h2>
      <p>{{ post.category }}</p>
    </header>
    <div class="info">
        <span class="date">
          <span class="year">{{post.date_time.year}}</span>
          {% if post.date_time.month == 1 %}
              <span class="month">Jan.</span>
          {% elif post.date_time.month == 2 %}
              <span class="month">Feb.</span>
          {% elif post.date_time.month == 3 %}
              <span class="month">Mar.</span>
          {% elif post.date_time.month == 4 %}
              <span class="month">Apr.</span>
          {% elif post.date_time.month == 5 %}
              <span class="month">May.</span>
          {% elif post.date_time.month == 6 %}
              <span class="month">Jun.</span>
          {% elif post.date_time.month == 7 %}
              <span class="month">Jul.</span>
          {% elif post.date_time.month == 8 %}
              <span class="month">Aug.</span>
          {% elif post.date_time.month == 9 %}
              <span class="month">Sep.</span>
          {% elif post.date_time.month == 10 %}
              <span class="month">Oct.</span>
          {% elif post.date_time.month == 11 %}
              <span class="month">Mov.</span>
          {% else %}
              <span class="month">Dec.</span>
          {% endif %}
          {% if post.date_time.day < 10 %}
              <span class="month">0{{post.date_time.day}}</span>
          {% else %}
              <span class="month">{{post.date_time.day}}</span>
          {% endif %}
        </span>

        <ul class="stats" style="padding:0em; margin:0em">
          <li><a href="#" class="icon fa-comment">16</a></li>
          <li><a href="javascript:void(0)" class="icon fa-heart" onclick="addLove({{post.id}})" id="a_love_{{post.id}}" >{{ post.lovecount }}</a></li>
        </ul>
    </div>
    <img class="imagecover" src="{% static post.cover %}" alt="" />
    <h3>Abstract</h3>
    <p>{{ post.abstract | safe }}</p>
    {{ post.content |img_src | safe}}
  </article>
{% endblock %}

{% block content_nav %}
<li><a href="{% url "home" %}">Latest Posts</a></li>
<li><a href="{% url "archives" %}">Archives</a></li>
<li><a href="{% url "photography" %}">Photography</a></li>
<li><a href="{% url "about_me" %}">About Me</a></li>
{% endblock%}
