	{% extends "base.html" %}
<!-- Post -->
{% load static %}
{% block content_post %}
  <article class="box post post-excerpt">
    <header>
      <!--
        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the <p> entirely if you don't
        need a subtitle.
      -->
      <h2 style="font-size: 2em"><a href="{% url "article" id=post.id %}">{{ post.title }}</a></h2>
      <p style="font-size: 1.6em">{{ post.category }}</p>
    </header>
    <div class="info">
      <!--
        Note: The date should be formatted exactly as it's shown below. In particular, the
        "least significant" characters of the month should be encapsulated in a <span>
        element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
        Oh, and if you don't need a date for a particular page or post you can simply delete
        the entire "date" element.

      -->
        <span class="date" style="font-size:1.0em;font-weight: 300; margin:0em">
          <span class="year" style="padding: 0em; margin:0em">{{post.date_time.year}}</span>
          {% if post.date_time.month == 1 %}
              <span class="month" style="padding: 0em; margin:0em">Jan.</span>
          {% elif post.date_time.month == 2 %}
              <span class="month" style="padding: 0em; margin:0em">Feb.</span>
          {% elif post.date_time.month == 3 %}
              <span class="month" style="padding: 0em; margin:0em">Mar.</span>
          {% elif post.date_time.month == 4 %}
              <span class="month" style="padding: 0em; margin:0em">Apr.</span>
          {% elif post.date_time.month == 5 %}
              <span class="month" style="padding: 0em; margin:0em">May.</span>
          {% elif post.date_time.month == 6 %}
              <span class="month" style="padding: 0em; margin:0em">Jun.</span>
          {% elif post.date_time.month == 7 %}
              <span class="month" style="padding: 0em; margin:0em">Jul.</span>
          {% elif post.date_time.month == 8 %}
              <span class="month" style="padding: 0em; margin:0em">Aug.</span>
          {% elif post.date_time.month == 9 %}
              <span class="month" style="padding: 0em; margin:0em">Sep.</span>
          {% elif post.date_time.month == 10 %}
              <span class="month" style="padding: 0em; margin:0em">Oct.</span>
          {% elif post.date_time.month == 11 %}
              <span class="month" style="padding: 0em; margin:0em">Mov.</span>
          {% else %}
              <span class="month" style="padding: 0em; margin:0em">Dec.</span>
          {% endif %}
          {% if post.date_time.day < 10 %}
              <span class="month" style="padding: 0em; margin:0em">0{{post.date_time.day}}</span>
          {% else %}
              <span class="month" style="padding: 0em; margin:0em">{{post.date_time.day}}</span>
          {% endif %}
        </span>

        <ul class="stats" style="padding:0em; margin:0em">
          <li style="padding: 0em; margin:0em"><a href="#" class="icon fa-comment">16</a></li>
          <li style="padding: 0em; margin:0em"><a href="#" class="icon fa-heart">32</a></li>
        </ul>
    </div>
    <a href="#" class="image featured"><img src="{% static "images/pic01.jpg" %}" alt="" /></a>
    {{ post.abstract | safe }}
  </article>
{% endblock %}
