<!DOCTYPE HTML>
<html>
  {% load static %}
		<!-- Scripts -->
  <script type="text/javascript" async  src="{% static "assets/js/jquery.min.js" %}"></script>
  <script type="text/javascript" async  src="{% static "assets/js/skel.min.js" %}"></script>
  <script type="text/javascript" async  src="{% static "assets/js/util.js" %}"></script>
  <!--[if lte IE 8]><script src="{% static "assets/js/ie/respond.min.js" %}"></script><![endif]-->
  <script type="text/javascript" src="{% static "assets/js/main.js" %}"></script>
  <script type="text/javascript" src="{% static "assets/js/syntaxhighlighter.js" %}"></script>

	<head>
		<title>ZhaoYongsheng's Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{% static "assets/js/ie/html5shiv.js" %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{% static "assets/css/theme.css" %}" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "assets/css/ie8.css" %}" /><![endif]-->
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" }}});
  </script>
	</head>
	<body>
		<!-- Content -->
			<div id="content">
				<div class="inner">
					<!-- Post -->
          {% block content_post %}
          {% endblock %}
					<!-- Pagination -->
          {% block content_pagination%}
          {% endblock %}
				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
        <h1 id="logo"><a href="{% url "home" %}"><img src="{% static "images/logo.PNG" %}" alt="" width="155"/></a></h1>
				<!-- Nav -->
					<nav id="nav">
						<ul>
              {% block content_nav %}
              {% endblock %}
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>Roboto:</strong> A technical blog for sharing articles related to Robotics & Deep Learning.
							</p>
						</div>
					</section>

				<!-- Recent Posts -->
					<section class="box recent-posts">
						<header>
              <h2 style="font-size: 24px; margin-bottom: 9px;">Contact <a style="color: #c94663">Me</a></h2>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="fas fa-envelope" style="margin: 2px 7px 2px 5px; font-size: 27px;text-decoration:none;" ></a>
              <a href="https://www.linkedin.com/in/yongshengzhao" class="fab fa-linkedin" style="margin: 2px 4px; font-size: 27px;text-decoration:none;"></a>
              <a href="weixin://contacts/profile/swardman" class="fab fa-weixin" style="margin: 2px 4px; font-size: 27px;text-decoration:none;"></a>
              <a href="skype:swardman@126.com?add" class="fab fa-skype" style="margin: 2px 4px; font-size: 27px;text-decoration:none;"></a>
              <a href="https://github.com/YoungsonZhao" class="fab fa-github-square" style="margin: 2px 5px 2px 7px; font-size: 27px; text-decoration:none;"></a>
						</header>
						<ul>
							<li>A doctor major in robotics from Zhejiang University.</li>
						</ul>
					</section>

					<section class="box recent-posts">
						<header>
              <h2 style="font-size: 24px; margin-bottom: 4px;">
                Feed <a style="color: #c94663">Me</a><a href="#" class="fas fa-rss-square" style="margin: 2px 14px; font-size: 24px;text-decoration:none;"></a>
              </h2>
						</header>
					</section>
				<!-- Copyright -->
					<ul id="copyright">
						<li style="line-height: 1.25em;">Copyright &copy; 2017-2018</li>
            <li style="line-height: 1.25em;">Zhao Yongsheng</li>
            <li style="line-height: 1.25em;">All Rights Reserved.</li>
					</ul>

			</div>
<script type='text/javascript'>
   function addLove(id){
     var a_id = '#a_love_' + id;
     var count = $(a_id).html();
     $.ajax({
       url:{% url 'addLove' %},
       type:'POST',
       dataType: 'json',
       data:{data:count, post_id:id},
       success:function(arg){
         $(a_id).html(arg)
       },
       error:function(){
         alert('Sorry, there is something wrong.')
       }
     });
   }
</script>

<script type='text/javascript'>
   function addLove_photo(id){
     var a_id = '#a_love_' + id;
     var count = $(a_id).html();
     $.ajax({
       url:{% url 'addLove_photo' %},
       type:'POST',
       dataType: 'json',
       data:{data:count, photo_id:id},
       success:function(arg){
         $(a_id).html(arg)
       },
       error:function(){
         alert('Sorry, there is something wrong.')
       }
     });
   }
</script>
<script type='text/javascript'>
   function photo_info(id){
     var a_id = '#p_info_' + id;
     var content = $(a_id).html();
     $.ajax({
       url:{% url 'photo_info' %},
       type:'POST',
       dataType: 'json',
       data:{label:content, photo_id:id},
       success:function(arg){
          if ($.trim(arg.label) == "Show Detailed Photo Info.")
         {
            $(a_id).html("Hide Detailed Photo Info.");
           $("<div id='p_info_group'><p>This is a test.</p><p>THis is a new test.</p></div>").insertAfter(a_id);
         }
          else
         {
           $('#p_info_group').empty();
           $(a_id).html("Show Detailed Photo Info.");
         }
       },
       error:function(){
         alert('Sorry, there is something wrong.');
       }
     });
   }
</script>
	</body>
</html>
