<!DOCTYPE HTML>
<html>
  {% load static %}
		<!-- Scripts -->
  <script type="text/javascript" async  src="{% static "assets/js/jquery.min.js" %}"></script>
  <script type="text/javascript" async  src="{% static "assets/js/skel.min.js" %}"></script>
  <script type="text/javascript" async  src="{% static "assets/js/util.js" %}"></script>
  <!--[if lte IE 8]><script src="{% static "assets/js/ie/respond.min.js" %}"></script><![endif]-->
  <script type="text/javascript" async  src="{% static "assets/js/main.js" %}"></script>
	<head>
		<title>ZhaoYongsheng's Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{% static "assets/js/ie/html5shiv.js" %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}" type="text/css" charset="utf-8"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "assets/css/ie8.css" %}" /><![endif]-->
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
	</head>
	<body>
		<!-- Content -->
			<div id="content">
				<div class="inner">
					<!-- Post -->
          {% block content_post %}
          {% endblock %}
					<!-- Pagination -->
          {% block content_pagination%}
          {% endblock %}
				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
        <h1 id="logo"><a href="{% url "home" %}"><img src="{% static "images/logo.PNG" %}" alt="" width="155"/></a></h1>
				<!-- Nav -->
					<nav id="nav">
						<ul>
              {% block content_nav %}
              {% endblock %}
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>Roboto:</strong> A technical blog for sharing articles related to Robotics & Deep Learning.
							</p>
						</div>
					</section>

				<!-- Recent Posts -->
					<section class="box recent-posts">
						<header>
              <h2 style="font-size: 24px; margin-bottom: 4px;">Contact <a style="color: #c94663">Me</a></h2>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-envelope" style="margin: 2px 4px; font-size: 20px"></a>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-linkedin-square" style="margin: 2px 4px; font-size: 20px"></a>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-wechat" style="margin: 2px 4px; font-size: 20px"></a>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-skype" style="margin: 2px 4px; font-size: 20px"></a>
              <a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-git-square" style="margin: 2px 4px; font-size: 20px"></a>
						</header>
						<ul>
							<li>A doctor major in robotics from Zhejiang University.</li>
						</ul>
					</section>

					<section class="box recent-posts">
						<header>
              <h2 style="font-size: 24px; margin-bottom: 4px;">
                Feed <a style="color: #c94663">Me</a><a href="mailto:yongsheng.zhao.csc@gmail.com" class="icon fa-rss-square" style="margin: 2px 10px; font-size: 20px"></a>
              </h2>
						</header>
					</section>
				<!-- Copyright -->
					<ul id="copyright">
						<li>Copyright &copy; 2017</li>
            <li>ZHAO YONGSHENG</li>
            <li>ALL RIGHTS RESERVED</li>
					</ul>

			</div>
<script type='text/javascript'>
   function addLove(id){
     var a_id = '#a_love_' + id;
     var count = $(a_id).html();
     $.ajax({
       url:{% url 'addLove' %},
       type:'POST',
       dataType: 'json',
       data:{data:count, post_id:id},
       success:function(arg){
         $(a_id).html(arg)
       },
       error:function(){
         alert('Sorry, there is something wrong.')
       }
     });
   }
</script>

<script type='text/javascript'>
   function addLove_photo(id){
     var a_id = '#a_love_' + id;
     var count = $(a_id).html();
     $.ajax({
       url:{% url 'addLove_photo' %},
       type:'POST',
       dataType: 'json',
       data:{data:count, photo_id:id},
       success:function(arg){
         $(a_id).html(arg)
       },
       error:function(){
         alert('Sorry, there is something wrong.')
       }
     });
   }
</script>

	</body>
</html>
