{% extends "base.html" %}
<!-- post -->
{% load static %}
{% block content_post %}
{% for photo in photo_list %}
    <article class="box post post-excerpt">
      <div class="info">
        <span class="date">
          <span class="year">{{photo.date_time.year}}</span>
          {% if photo.date_time.month == 1 %}
              <span class="month">Jan.</span>
          {% elif photo.date_time.month == 2 %}
              <span class="month">Feb.</span>
          {% elif photo.date_time.month == 3 %}
              <span class="month">Mar.</span>
          {% elif photo.date_time.month == 4 %}
              <span class="month">Apr.</span>
          {% elif photo.date_time.month == 5 %}
              <span class="month">May.</span>
          {% elif photo.date_time.month == 6 %}
              <span class="month">Jun.</span>
          {% elif photo.date_time.month == 7 %}
              <span class="month">Jul.</span>
          {% elif photo.date_time.month == 8 %}
              <span class="month">Aug.</span>
          {% elif photo.date_time.month == 9 %}
              <span class="month">Sep.</span>
          {% elif photo.date_time.month == 10 %}
              <span class="month">Oct.</span>
          {% elif photo.date_time.month == 11 %}
              <span class="month">Mov.</span>
          {% else %}
              <span class="month">Dec.</span>
          {% endif %}
          {% if photo.date_time.day < 10 %}
              <span class="month">0{{photo.date_time.day}}</span>
          {% else %}
              <span class="month">{{photo.date_time.day}}</span>
          {% endif %}
        </span>

        <ul class="stats" style="padding:0em; margin:0em">
          <li><a href="#" class="icon fa-comment">16</a></li>
          <li><a href="javascript:void(0)" class="icon fa-heart" onclick="addLove_photo({{photo.id}})" id="a_love_{{photo.id}}" >{{ photo.lovecount }}</a></li>
        </ul>
      </div>
      <div class="photo">
       <ul class="imgbox_9">
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic01.jpg" %}" width=100%/></a></li>
       </ul>
       <a style="text-decoration: none; font-size: 12px; padding-left: 4px;" href="javascript:void(0)" onclick="photo_info({{photo.id}})" id="p_info_{{photo.id}}">Show Detailed Photo Info.</a>
      </div>

      <div class="photo">
       <ul class="imgbox_4">
        <li><a href="#" ><img src="{% static "images/pic02.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic02.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic02.jpg" %}" width=100%/></a></li>
        <li><a href="#" ><img src="{% static "images/pic02.jpg" %}" width=100%/></a></li>
       </ul>
      </div>

      <div class="imgbox_1">
         <a href="#" ><img src="{{ photo.image.url }}" width=89.5%, style="display: block; margin-left: 2px;"/></a>
      </div>
      {{ photo.abstract | safe }}
    </article>
{% endfor %}
{% endblock %}

{% block content_nav %}
<li><a href="{% url "home" %}">Latest posts</a></li>
<li><a href="{% url "archives" %}">Archives</a></li>
<li class="current"><a href="{% url "photography" %}">Photography</a></li>
<li><a href="{% url "about_me" %}">About Me</a></li>
{% endblock%}
